* {
  margin: 0;
  padding: 0;
  font-family: "helvetica", sans-serif;
  overscroll-behavior: none;
  box-sizing: border-box;
}

.sidebar {
  height: 100vh;
  width: 22em;
  background-color: rgb(250, 250, 250);
  color: #242424;
  border: 1px solid rgb(230, 230, 230);
  box-shadow: 2px 0px 5px rgba(1, 1, 1, 0.05);
  z-index: 1;
  padding: 1em;
  overflow: scroll;
  scrollbar-width: none;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1.25em;
  gap: 0.25em;
}
input {
  margin: 0;
  width: 100%;
  font-size: 0.95em;
  border: 1px solid rgb(239, 239, 239);
  padding: 0.5em;
  color: rgb(125, 125, 125);
  border-radius: 0.2em;
}
input:focus {
  outline: 2px solid rgb(95, 194, 187);
  border-radius: 0.2em;
}

textarea {
  resize: none;
  margin: 0;
  width: 100%;
  font-size: 0.95em;
  border: 1px solid rgb(239, 239, 239);
  padding: 0.5em;
  color: rgb(125, 125, 125);
  height: 5em;
  border-radius: 0.2em;
}

textarea:focus {
  outline: 2px solid rgb(95, 194, 187);
  border-radius: 0.2em;
}

.done {
  transform: translate(-22em);
}

.menu-button {
  width: 4em;
  padding: 1em;
  transition: transform 0.5s ease;
}

.sidebar-with-menu {
  display: flex;
  transition: transform 0.5s ease;
  position: absolute;
  z-index: 1;
}

.form-section {
  margin-top: 2em;
  margin-bottom: 0.75em;
  font-weight: 900;
  color: rgb(95, 194, 187);
}

button {
  width: 100%;
  height: 3em;
  border: 1px solid rgb(239, 239, 239);
  transition: background-color 0.25s ease, color 0.25s ease;
}

button:hover {
  background-color: rgb(95, 194, 187);
  color: white;
}

h5 {
  font-weight: 400;
  color: rgb(125, 125, 125);
}

.resume-wrapper {
  padding: 4em 5em 2em 5em;
  z-index: 0;
  transition: filter 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume {
  width: 80vw;
  border: 1px solid rgb(218, 218, 218);
}

.basic-info {
  background-color: rgb(95, 194, 187);
  padding: 3em;
  color: white;
}

.resume-h5 {
  color: white;
  font-size: 1em;
  font-weight: 100;
  padding-top: 0.4em;
}

.education {
  padding: 3em;
  color: black;
}
.education > h5 {
  color: black;
}

.blurred {
  filter: blur(5px);
  opacity: 0.5;
  transform: scale(0.9);
}

.work {
  background-color: rgb(95, 194, 187);
  padding: 3em;
  color: white;
}

.rotated {
  transform: rotate(90deg);
}

.line-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.line-element > h5 {
  color: black;
}

.education-info {
  margin-top: 2em;
}

.work-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4em;
}
.work-details {
  width: 50%;
  height: auto;
}
.work-line-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  gap: 2em;
}
.work-duties {
  width: 50%;
  height: auto;
}

.duty-title {
  margin-top: 1em;
}

.loading {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
